.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    max-width: 900px;
    border: 1px solid black;
    gap: 10px;
}
.container .cell {
    background-color: tomato;
    padding: 100px;
    border-radius: 3px  ;
    text-align: center;
}

.container .cell:hover {
    background-color: aqua;
}